.sidenav {
  padding: 40px 90px 90px 90px;
    /* justify-content: center; */
    background-color: #01BFBD;
    /* position: sticky; */
    /* height: 100vh; */
  }
  .logo{
    height: auto;
    width: 100%;
    margin-bottom: 5rem;
  }
  .options{
    display: flex;
    justify-items: center;
    flex-direction: column;
    text-align: left;
  }
  .sidenav a {
    font-weight: 500;
    text-align: left;
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #f1f1f1;
  }
  .sidenav a:hover {
    font-weight: 500;
    text-align: left;
    padding: 8px;
   width: 190px;
   height: 60px;
    background-color: #f1f1f1;
    color: black;
    border-radius: 8px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }