.contentCard{
    margin: 0;
    padding: 0;
}
.cardContent{
    padding: 1em;
    align-items: center;
}
.titleButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
}
.createProject{
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    color: black;
}
.publish{
  height: fit-content;
  width: fit-content;
  padding: 10px 60px 10px 60px;
  background-color: black;
  color:white;
  border-radius: 8px;
  font-size: 18px;
}
.publish:hover{
    height: fit-content;
    width: fit-content;
    padding: 10px 60px 10px 60px;
    background-color: rgb(50, 49, 49);
    color:white;
    border-radius: 8px;
    font-size: 18px;
  }
.projectForm{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: fit-content;
    padding: 1em;
    margin: 1em 0 0 0;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}
/* .headings{
    font-size: 25px;
    font-weight: 600;
    padding: 0.25em 1em 0.25em 1em;
} */
form, input, select, textarea, label{ 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    color: #030303;
    line-height: 22px;
    }
    label{
        margin: 4px;
    }
    form {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 8px  #669999; 
    }
    input,textarea{
    /* margin-bottom: 5px; */
    border: 1px solid #ccc;
    border-radius: 3px;
    }
    input {
    width: calc(100% - 10px);
    padding: 5px;
    }
    input[type="date"] {
    padding: 4px 5px;
    }
    textarea {
    width: calc(100% - 12px);
    padding: 5px;
    }
    .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
    color:  #669999;
    }
    .item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0  #669999;
    color: #669999;
    }
    .item {
    position: relative;
    margin: 5px 0;
    }
    .item span {
    color: red;
    }
    .week {
    display:flex;
    /* justfiy-content:space-between; */
    }
    .colums {
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    flex-wrap:wrap;
    }
    .colums div {
    width:48%;
    }
    .item i {
    right: 1%;
    top: 30px;
    z-index: 1;
    }
    .btn-block {
    margin-top: 10px;
    text-align: center;
    }
    button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background:  #669999;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    }
    button:hover {
    background:  #a3c2c2;
    }
    @media (min-width: 568px) {
    .name-item, .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .name-item input, .name-item div {
    width: calc(50% - 20px);
    }
    .name-item div input {
    width:97%;}
    .name-item div label {
    display:block;
    padding-bottom:5px;
    }
    }