.contentContribution{
    margin: 0;
    display: flex;
    flex-direction: row;
    /* justify-content: right; */
}
.cont{
    padding: 2em;
}
.title{
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 0.5em;
}
.btn-dark{
    margin-right: 5px;
}
.contribelowImg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contridateDetails{
     display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.contribution{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5em;
}
.contributionComponent{
background-color: white;
color: black;
padding: 2em;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.details{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    }
img{
    height: 63%;
    width: 42%;
    border-radius: 5px;
}
.otherDetails{
    padding-left: 2em;
}
.labels{
    color: black;
  font-size: 20px;
  padding: 1px;
}
.labels2{
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 0.25em 0.75em 0em 0;
}
.dates{
    display: flex;
    flex-direction: row;
    justify-content:left;
}
.desc{
    padding-top: 1em;
}