.contentProject{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.contProject{
    padding: 2em;
}
.titleProject{
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 0.5em;
}
.projectProject{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5em;
}
.buttonsProject{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttonsProject .buttonProject{
   margin: 0.25em;
   background-color: rgb(3, 3, 3);
   color: whitesmoke;
  border-radius: 5px;
  width: 90px;
}
.buttonsProject .buttonProject:hover{
    background-color: rgb(45, 43, 43);
}
.projectComponentProject{
background-color: white;
color: black;
padding: 2em;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.detailsProject{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    }
img{
    height: 63%;
    width: 42%;
    border-radius: 5px;
}
.AmtsProject{
display: flex;
flex-direction: row;
}
.dateDetailsProject{
    display: flex;
    flex-direction: row;
}
.otherDetailsProject{
    padding-left: 2em;
}
.contriProject{
    display: flex;
    flex-direction: row;
}
.headingProject{
    color: black;
    font-size: 28px;
    font-weight: 600;
}
.labelsProject{
    color: black;
  font-size: 24px;
  font-weight: 500;
  padding: 0em 0.75em 0.75em 0;
}

.datesProject{
    display: flex;
    flex-direction: column;
    justify-content:left;
}
.descProject{
    padding-top: 1em;
}